@import '../../../scss/utils';
@import '../../../scss/vars';

.products {
  border-collapse: collapse;
  border-spacing: 0;
}

.products th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: $BRAND_INVERTED;
}

.products td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: $BRAND_INVERTED;

  &.count {
    text-align: right;
  }
}

.button {
  @include font-size(16);

  background-color: $BRAND_COLOR;
  color: $BRAND_INVERTED;
  padding: 3px 5px;
  margin: 1rem 0;
  border: 1px solid $BRAND_INVERTED;

  &:hover {
    background-color: $BRAND_HINT;
  }
}
